<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Code Connect</title>
    <link rel="icon" type="image/x-icon" href="/assets/images/programming.png">
    <link rel="stylesheet" href="/codemirror-5.65.15/lib/codemirror.css">
    <link rel="stylesheet" href="/codemirror-5.65.15/theme/dracula.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css" />
</head>

<body>
    <!-- For Socket Connection -->
    <input type="hidden" id="user-profile" value="<%= userDetails.profile %>">
    <input type="hidden" id="user-name" value="<%= userDetails.name %>">
    <input type="hidden" id="user-email" value="<%= userDetails.email %>">
    <input type="hidden" id="project-id" value="<%= projectDetails.projectId %>">
    <input type="hidden" id="project-lang" value="<%= projectDetails.projectLang %>">
    <input type="hidden" id="project-admin" value="<%= projectDetails.adminName %>">
    <input type="hidden" name="forkContent" id="forkContent" value="<%= projectDetails.projectContent %>">

    <header class="header">
        <nav class="nav-bar">
            <div class="left-section">
                <div class="hamburger-container">
                    <input type="checkbox" id="checkbox" class="checkbox visuallyHidden" checked>
                    <label for="checkbox">
                        <div id="hamberger" class="hamburger">
                            <span class="bar bar1"></span>
                            <span class="bar bar2"></span>
                            <span class="bar bar3"></span>
                            <span class="bar bar4"></span>
                        </div>
                    </label>
                </div>
                <div class="project-heading">
                    <img src="/assets/images/room.png" alt="room">
                    <h2 id="project-title"><%= projectDetails.projectName%></h2>
                </div>
            </div>
            <div>
                <h2 id="heading">Code Connect</h2>
            </div>

            <div class="right-section">
                <a href="/exitRoom/<%= userDetails.email %>" id="leave-btn" class="exit-btn">
                    <i class="fa-solid fa-door-open"></i> Leave
                    Room</a>
                <!-- <a href="/theme" class="theme-btn"><img src="/assets/images/moon.png" alt="sun-moon" /></a> -->
                <button class="profile-btn"><img id="profile-btn"
                        src="/assets/images/avatars/<%= userDetails.profile %>.png" alt="profile-picture"></button>
            </div>
        </nav>
        <div class="grad-strip"></div>
    </header>
    <main class="main-section">
        <!-- SideBar -->
        <div class="sidebar-menu">
            <button id="fileBtn"><img src="/assets/images/files.png" alt="files"></button>
            <button id="peopleBtn"><img src="/assets/images/group.png" alt="people"></button>
            <button id="chatBtn" class="selected"><img src="/assets/images/chat.png" alt="chat"></button>
        </div>
        <div class="sidebar">

            <!-- Chat -->
            <div class="sidebar-content" id="message">
                <div class="chat-messages"> </div>
                <div class="chat-form-container">
                    <form id="chat-form">
                        <input id="msg" type="text" placeholder="Enter Message" required autocomplete="off" />
                        <button class="sendChatBtn"><img src="/assets/images/paper-plane.png"
                                alt="paper-plane"></button>
                    </form>
                </div>
            </div>

            <!-- Room Members  -->
            <div class="sidebar-contentII hidden" id="memberSection">
                <div class="active-user">
                    <i class="fa-solid fa-user"></i>
                    <h2>Project Members</h2>
                </div>

                <div class="projectMembers">
                    <ul class="memberList"></ul>
                </div>
            </div>

            <!-- Files -->
            <div class="sidebar-contentIII hidden" id="fileSection">
                <div class="createSection">
                    <button id="createFileBtn"><i class="fa-solid fa-plus"></i></button>
                </div>
                <div class="adminSection">
                    <i class="fa-solid fa-lock"></i>
                    <button id="adminFile"
                        onclick="openFile('<%= projectDetails.projectName %>', '<%= projectDetails.projectId %>', 'admin')"><%= projectDetails.projectName %>&nbsp;<span>(<%= projectDetails.adminName %>)</span></button>
                </div>

                <div class="memberFiles"></div>
            </div>

        </div>

        <!-- Editor Section -->
        <div class="editorSection">
            <div class="editor-menu">
                <div class="editor-mid-section">
                    <h2 id="fileHeading"></h2>
                </div>
                <div class="editor-left-section">
                    <select name="lang-selector" id="lang-selector">
                        <option value="c">C</option>
                        <option value="cpp">C++</option>
                        <option value="java">Java</option>
                        <option value="py">Python</option>
                    </select>
                    <button class="markComplete realMarkComplete">Mark as complete</button>
                    <button class="reject realReject">Reject</button>
                    <button class="approve realApprove">Approve</button>
                </div>
                <div class="editor-right-section">
                    <button class="saveBtn"><i class="fa-solid fa-floppy-disk"></i></button>
                    <button class="downloadBtn"><i class="fa-solid fa-download"></i></button>
                    <svg class="ham ham3 runWindowBtn active" viewBox="0 0 100 100">
                        <path class="line top"
                            d="m 70,33 h -40 c -11.092231,0 11.883874,13.496726 -3.420361,12.956839 -0.962502,-2.089471 -2.222071,-3.282996 -4.545687,-3.282996 -2.323616,0 -5.113897,2.622752 -5.113897,7.071068 0,4.448316 2.080609,7.007933 5.555839,7.007933 2.401943,0 2.96769,-1.283974 4.166879,-3.282995 2.209342,0.273823 4.031294,1.642466 5.857227,-0.252538 v -13.005715 16.288404 h 7.653568" />
                        <path class="line middle"
                            d="m 70,50 h -40 c -5.6862,0 -8.534259,5.373483 -8.534259,11.551069 0,7.187738 3.499166,10.922274 13.131984,10.922274 11.021777,0 7.022787,-15.773343 15.531095,-15.773343 3.268142,0 5.177031,-2.159429 5.177031,-6.7 0,-4.540571 -1.766442,-7.33533 -5.087851,-7.326157 -3.321409,0.0092 -5.771288,2.789632 -5.771288,7.326157 0,4.536525 2.478983,6.805271 5.771288,6.7" />
                        <path class="line bottom"
                            d="m 70,67 h -40 c 0,0 -3.680675,0.737051 -3.660714,-3.517857 0.02541,-5.415597 3.391687,-10.357143 10.982142,-10.357143 4.048418,0 17.88928,0.178572 23.482143,0.178572 0,2.563604 2.451177,3.403635 4.642857,3.392857 2.19168,-0.01078 4.373905,-1.369814 4.375,-3.392857 0.0011,-2.023043 -1.924401,-2.589191 -4.553571,-4.107143 -2.62917,-1.517952 -4.196429,-1.799562 -4.196429,-3.660714 0,-1.861153 2.442181,-3.118811 4.196429,-3.035715 1.754248,0.0831 4.375,0.890841 4.375,3.125 2.628634,0 6.160714,0.267857 6.160714,0.267857 l -0.178571,-2.946428 10.178571,0 -10.178571,0 v 6.696428 l 8.928571,0 -8.928571,0 v 7.142858 l 10.178571,0 -10.178571,0" />
                    </svg>
                </div>
            </div>
            <div class="textarea-container">
                <textarea name="editor" id="editor">
                    <%= projectDetails.projectContent %>
                </textarea>
            </div>
        </div>

        <!-- Run window -->
        <div class="runWindow">
            <button id="runBtn">Run Code</button>
            <div class="inputSection">
                <div class="inputHead">
                    <p>Input</p>
                    <img id="clearInput" src="/assets/images/bin.png" alt="clear input">
                </div>
                <textarea name="input" id="input"></textarea>
            </div>
            <div class="outputSection">
                <div class="outputHead">
                    <p>Output</p>
                    <img id="clearOutput" src="/assets/images/bin.png" alt="clear output">
                </div>
                <pre id="output"><code></code></pre>
            </div>
        </div>
    </main>

    <!-- Create File Form -->
    <div class="createFileForm">
        <div class="createTop">
            <div></div>
            <h2>Create File</h2>
            <button id="closeCreateFile"><img src="/assets/images/close.png" alt="close"></button>
        </div>
        <div class="createForm">
            <form action="javascript:void(0);">
                <div class="createInput">
                    <label for="fileName">Enter File Name</label>
                    <input type="text" name="fileName" id="fileName" placeholder="File Name" required />

                    <select name="lang-selection" id="lang-selection" required>
                        <option value="c" selected>C</option>
                        <option value="cpp">C++</option>
                        <option value="java">Java</option>
                        <option value="py">Python</option>
                    </select>

                    <div>
                        <input type="checkbox" name="fork" id="fork" value="">
                        <label for="fork">Copy data from root document</label>
                    </div>
                </div>
                <div class="createBtn">
                    <input type="button" id="createFile" value="Create File">
                </div>
            </form>
        </div>
    </div>

    <!-- Mark Complete Form -->
    <div class="markCompleteForm">
        <div class="alert-message">
            <img src="/assets/images/complete.png" alt="complete">
            <p id="complete-alert"></p>
        </div>
        <div class="completeFormBtns">
            <button id="cancel-complete">Cancel</button>
            <button id="confirm-complete">Confirm</button>
        </div>
    </div>

    <!-- Approve Form -->
    <div class="approveForm">
        <div class="alert-message">
            <img src="/assets/images/approve.png" alt="approve">
            <p id="approve-alert"></p>
        </div>
        <div class="approveFormBtns">
            <button id="cancel-approve">Cancel</button>
            <button id="confirm-approve">Confirm</button>
        </div>
    </div>

    <!-- Reject Form -->
    <div class="rejectForm">
        <div class="alert-message">
            <img src="/assets/images/reject.png" alt="reject">
            <p id="reject-alert"></p>
        </div>
        <div class="approveFormBtns">
            <button id="cancel-reject">Cancel</button>
            <button id="confirm-reject">Confirm</button>
        </div>
    </div>

    <!-- Profile Drop Down Menu -->
    <div id="profile-menu" class="profile profileDropdown hidden">
        <div class="profile userData">
            <img id="profile-image" class="profile" src="/assets/images/avatars/<%= userDetails.profile %>.png"
                alt="profile-image">
            <p id="userName" class="profile"><%= userDetails.name %></p>
            <p id="userEmail" class="profile"><%= userDetails.email %></p>
        </div>
        <div class="profile alterData">
            <a id="edit-profile">
                <img src="/assets/images/edit.png" alt="edit-profile">EditProfile
            </a>
            <a href="/">
                <img src="/assets/images/logout.png" alt="logout">Logout
            </a>
        </div>
    </div>

    <!-- Edit Form -->
    <div class="edit-form <%= updateUserFormVisibility %>">
        <div class="close-box">
            <img id="close-edit" src="/assets/images/close.png" alt="close">
        </div>
        <form>
            <p class="alertMessage updateUserAlertMessage"><%= alertMessage %></p>
            <div class="profile-selector">
                <div class="profile-selector-btn" value="defaultUser">
                    <img id="defaultUser" src="/assets/images/avatars/<%= userDetails.profile %>.png" alt="defaultUser">
                    <img id="photo-camera" src="/assets/images/photo-camera.png" alt="photo-camera">
                </div>
                <p>Choose Profile</p>
                <div class="profile-menu">
                    <div id="defaultProfile">Default</div>
                    <div id="chooseProfile">Choose Profile</div>
                </div>
                <input type="hidden" name="profile" value="<%= userDetails.profile %>" id="profile" />
                <input type="hidden" name="oldname" id="oldname" value="<%= userDetails.name %>">
            </div>

            <div class="form-control">
                <label for="username">USERNAME</label>
                <input type="text" name="username" id="username" value="<%= userDetails.name %>" placeholder="Name"
                    required autocomplete="name" />
            </div>

            <div class="form-control">
                <label>EMAIL ADDRESS</label>
                <input type="hidden" id="useremail" name="useremail" value="<%= userDetails.email %>">
                <div id="email">
                    <p><%= userDetails.email %></p>
                </div>
            </div>
            <div class="form-control">
                <label for="password">PASSWORD</label>
                <input type="text" name="password" id="password" value="<%= userDetails.password %>"
                    placeholder="Password" onChange="onChange()" required />
            </div>

            <button class="save-btn">Save</button>
        </form>
    </div>

    <!-- Choose Avatar Form -->
    <div class="choose-avatar">
        <div class="top-section">
            <img id="closeBtn" src="/assets/images/close.png" alt="close">
        </div>
        <div class="bottom-section">
            <div class="avatar-container" id="1" onclick="selectProfile(this.id)">
                <img src="/assets/images/avatars/1.png" alt="avatar1">
            </div>
            <div class="avatar-container" id="2" onclick="selectProfile(this.id)">
                <img src="/assets/images/avatars/2.png" alt="avatar2">
            </div>
            <div class="avatar-container" id="3" onclick="selectProfile(this.id)">
                <img src="/assets/images/avatars/3.png" alt="avatar3">
            </div>
            <div class="avatar-container" id="4" onclick="selectProfile(this.id)">
                <img src="/assets/images/avatars/4.png" alt="avatar4">
            </div>
            <div class="avatar-container" id="5" onclick="selectProfile(this.id)">
                <img src="/assets/images/avatars/5.png" alt="avatar5">
            </div>
            <div class="avatar-container" id="6" onclick="selectProfile(this.id)">
                <img src="/assets/images/avatars/6.png" alt="avatar6">
            </div>
            <div class="avatar-container" id="7" onclick="selectProfile(this.id)">
                <img src="/assets/images/avatars/7.png" alt="avatar7">
            </div>
            <div class="avatar-container" id="8" onclick="selectProfile(this.id)">
                <img src="/assets/images/avatars/8.png" alt="avatar8">
            </div>
            <div class="avatar-container" id="9" onclick="selectProfile(this.id)">
                <img src="/assets/images/avatars/9.png" alt="avatar9">
            </div>
        </div>
    </div>

    <!-- Alert Message -->
    <p class="pedAlert"></p>

    <footer>
        <p>Made by Kunal & Manish</p>
    </footer>

    <!-- Socket.io -->
    <script src="/socket.io/socket.io.js"></script>

    <!-- Code Mirror -->
    <script src="/codemirror-5.65.15/lib/codemirror.js"></script>

    <!-- Modes -->
    <script src="/codemirror-5.65.15/mode/clike/clike.js"></script>
    <script src="/codemirror-5.65.15/mode/python/python.js"></script>
    <script src="/codemirror-5.65.15/mode/javascript/javascript.js"></script>
    <script src="/codemirror-5.65.15/mode/shell/shell.js"></script>

    <!-- Addons -->
    <script src="/codemirror-5.65.15/addon/edit/closebrackets.js"></script>

    <!-- Font Awesome -->
    <script src="/js/fA.js" crossorigin="anonymous"></script>

    <!-- Native -->
    <script src="/js/main.js"></script>
    <script src="/js/editor.js"></script>
</body>

</html>